---
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-4">
    <section>
      <Card>
        <CardHeader>
          <CardTitle className="text-3xl">Nicholas Ly</CardTitle>
          <CardDescription>
            <span>Associate Software Engineer @ </span>
            <span class="font-semibold">Vervint</span>
          </CardDescription>
        </CardHeader>
        <CardContent>
          <p class="mb-2 text-sm text-muted-foreground">
            Hi, I'm Nicholas! I'm a software engineer, web developer, and
            open-source enthusiast based in Chicago.
          </p>
          <p class="text-sm text-muted-foreground">
            My main focus these days is building performant and accessible web
            applications for our customers at <Link
              href="https://vervint.com/"
              class="text-foreground"
              external
              underline>Vervint</Link
            >. In my free time, I'm building <Link
              href="https://bookclub.social/"
              class="text-foreground"
              external
              underline>Bookclub</Link
            >—the social platform for bookworms.
          </p>
        </CardContent>
      </Card>
    </section>
    <section class="flex flex-col gap-y-4">
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
