---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<main class="pt-24 lg:w-1/2 lg:py-24">
		<About />
		<Experience />
		<Projects />
		<Footer />
	</main>
</Layout>

<script>
  const nav = new Map<string, HTMLAnchorElement>();
  nav.set('about', document.getElementById('nav-about') as HTMLAnchorElement);
  nav.set('experience', document.getElementById('nav-experience') as HTMLAnchorElement);
  nav.set('projects', document.getElementById('nav-projects') as HTMLAnchorElement);

	function updateNavbar(entries: IntersectionObserverEntry[]) {
		for (const entry of entries) {
			console.log(entry);
      if (entry.isIntersecting) {
        nav.forEach(link => link.classList.remove("active"));
				nav.get(entry.target.id)?.classList.add("active");
      }
    }
	}

  const observer = new IntersectionObserver(updateNavbar, {
    rootMargin: "0px",
		threshold: 1.0,
  });

  observer.observe(document.getElementById('about') as HTMLElement);
  observer.observe(document.getElementById('experience') as HTMLElement);
  observer.observe(document.getElementById('projects') as HTMLElement);
</script>
