---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import Photos from '../components/Photos.astro';
import Social from '../components/Social.astro';
---

<Layout title="Nicholas Ly">
	<h1 class="font-medium text-2xl mb-8">
		hey, I'm nick 👋
	</h1>
	<p>
		I'm a software engineer both by profession and by hobby. I currently work
		as a Web Developer at <Link href="https://vervint.com/">Vervint</Link>,
		where I've been building production-grade web applications and APIs for a
		variety of great clients.
	</p>
	<Photos />
	<p>
		I work on a variety of open-source projects outside of my usual work
		hours, and I especially love to build with modern and cutting edge tools.
		I love the learning process, and I'm passionate about sharing everything I
		know.
	</p>
	<div class="my-8 flex flex-col sm:flex-row gap-2 sm:gap-8 not-prose">
		<Social href="https://www.linkedin.com/in/nicholasdly/">connect with me on linkedin</Social>
		<Social href="https://github.com/nicholasdly">follow me on github</Social>
	</div>
	<p>
		I enjoy sponsoring undergraduate organizations filled with passionate young developers, and happily advise students of all ages.
	</p>
</Layout>