---
import Link from "./Link.astro";
---

<section id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="About me">
  <p class="mb-4">
    Back in 2015, I wrote my first line of code. I had no idea how it worked, but we don't need to talk about that.
    Fast-forward to today, and I've had the privilege of getting my bachelor's in computer science, winning a
    <Link href="https://spartahack.com/" class="font-medium text-zinc-800 dark:text-zinc-200 hover:text-zinc-950 dark:hover:text-zinc-50 focus:text-zinc-950 dark:focus:text-zinc-50">hackathon</Link>,
    and have built software for
    <Link href="https://www.teamdrift.org/" class="font-medium text-zinc-800 dark:text-zinc-200 hover:text-zinc-950 dark:hover:text-zinc-50 focus:text-zinc-950 dark:focus:text-zinc-50">student-led drone research</Link>,
    an
    <Link href="https://www.bosch.com/" class="font-medium text-zinc-800 dark:text-zinc-200 hover:text-zinc-950 dark:hover:text-zinc-50 focus:text-zinc-950 dark:focus:text-zinc-50">international engineering company</Link>,
    and an
    <Link href="https://vervint.com/" class="font-medium text-zinc-800 dark:text-zinc-200 hover:text-zinc-950 dark:hover:text-zinc-50 focus:text-zinc-950 dark:focus:text-zinc-50">amazing consultancy</Link>.
  </p>
  <p class="mb-4">
    My primary focus these days is building websites, APIs, and creative AI solutions for our clients at
    <Link href="https://vervint.com/" class="font-medium text-zinc-800 dark:text-zinc-200 hover:text-zinc-950 dark:hover:text-zinc-50 focus:text-zinc-950 dark:focus:text-zinc-50">Vervint</Link>.
    In my free time I also develop and contribute to open-source projects, specifically projects that educate and make the web a better place.
  </p>
  <p>
    When I'm not on my laptop, I'm usually running, traveling the world with my family and girlfriend, or binge-watching my favorite shows.
  </p>
</section>