---
import Link from "./Link.astro";
---

<footer class="max-w-md mt-16 text-sm text-zinc-500">
  <p>
    Built with
    <Link href="https://astro.build/" class="font-medium text-zinc-600 dark:text-zinc-400 hover:text-zinc-700 dark:hover:text-zinc-300 focus-visible:text-zinc-700 dark:focus-visible:text-zinc-300">Astro</Link>
    and
    <Link href="https://tailwindcss.com/" class="font-medium text-zinc-600 dark:text-zinc-400 hover:text-zinc-700 dark:hover:text-zinc-300 focus-visible:text-zinc-700 dark:focus-visible:text-zinc-300">Tailwind CSS</Link>,
    deployed with
    <Link href="https://vercel.com/" class="font-medium text-zinc-600 dark:text-zinc-400 hover:text-zinc-700 dark:hover:text-zinc-300 focus-visible:text-zinc-700 dark:focus-visible:text-zinc-300">Vercel</Link>.
  </p>
</footer>