---
import Link from "./Link.astro";
---

<footer class="max-w-md mt-16 text-sm text-slate-500">
  <p>
    Built with
    <Link href="https://astro.build/">Astro</Link>
    and
    <Link href="https://tailwindcss.com/">Tailwind CSS</Link>,
    deployed with
    <Link href="https://vercel.com/">Vercel</Link>.
    Heavily inspired by
    <Link href="https://brittanychiang.com/">Brittany Chiang's personal website</Link>.
  </p>
</footer>