<header class="mt-8 mb-16">
    <nav class="flex gap-6">
        <a href="/" class="py-1 hover:">home</a>
        <a href="/work" class="py-1">work</a>
        <a href="/projects" class="py-1">projects</a>
    </nav>
</header>