<header class="space-x-3 text-lg">
  <a class="py-1 hover:underline" href="/">home</a>
  <a class="py-1 hover:underline" href="/work">work</a>
  <a class="py-1 hover:underline" href="/blog">blog</a>
</header>