---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener"
  class="not-prose text-black dark:text-white font-medium underline underline-offset-2 decoration-neutral-500"
><slot /></a>
