<div class="prose prose-neutral dark:prose-invert prose-headings:font-semibold prose-a:text-indigo-500 prose-a:font-normal prose-a:underline-offset-2 prose-pre:border dark:prose-pre:border-neutral-800">
  <slot />
</div>