---
import Header from "../components/Header.astro";
import Prose from "../components/Prose.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Nicholas Ly</title>
		<meta name="description" content="Astro description" />
	</head>
	<body class="bg-white dark:bg-neutral-900 p-5 mx-auto my-12 max-w-2xl dark:text-neutral-100 space-y-12">
		<Header />
		<Prose>
			<slot />
		</Prose>
	</body>
</html>

<style is:global>
	@media (prefers-color-scheme: dark) {
		.astro-code,
		.astro-code span {
			color: var(--shiki-dark) !important;
			background-color: var(--shiki-dark-bg) !important;
			font-style: var(--shiki-dark-font-style) !important;
			font-weight: var(--shiki-dark-font-weight) !important;
			text-decoration: var(--shiki-dark-text-decoration) !important;
		}
	}
</style>